html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7ebdb;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(221, 221, 221);
}

.active {
    background-color: #04AA6D;
}

.navli {
    float: right;
}

.navbar {
    background-color: #f7ebdb;
}

#searchbar {
    margin-left: 10%;
    padding: 15px;
    border-radius: 10px;
}

#input {
    padding: 2px;
    float: left;
}

input[type=text] {
    width: 70%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container img {
    padding: 10px;
    width: 250px;
    height: 250px;
    justify-content: center;
}

.item {
    border: solid black 2px;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 10px;
    display: block;
    background-color: white;
}

#home {
    float: left;
}

.item-page {
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 40px;
}

.item-page img {
    width: 400px;
}

.box-one {
    float: left;
    width: 38%;
    height: 100px;
}

.box-two {
    float: left;
    width: 50%;
    height: 500px;
}

.box-three {
    float: left;
    width: 50%;
    height: 200px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    text-align: center;
}