@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap"');

#home {
    float: left;
    font-family: "Andale Mono", monospace;
    color: #FCBCB8;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Andale Mono", monospace;
}

body {
    background-color: #f7ebdb;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

h1 {
    color: rgb(66, 53, 41);
    font-size: 25px; 
}

p {
    color: #2F4858;
}

#mailto {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #FCBCB8;
    padding: 10px;
    border-radius: 8px;
    float: right;
    margin-right: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:visited {
    color: #2F4858;
}

li a {
    display: inline-block;
    /* color: black; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #fbe6e5;
}

.active {
    background-color: #FCBCB8;
}

.navbar {
    background-color: #fcc8b8;
}

.navli {
    float: right;
}

#searchbar {
    margin-left: 10%;
    margin-top: 8px;
    padding: 15px;
    border-radius: 10px;
    height: 30px;
}

#input {
    padding: 2px;
}

input[type=text] {
    width: 70%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    margin-left: 3%;
    padding: 15px;
    border-radius: 5px;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
    width: 70%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container img {
    padding: 10px;
    width: 250px;
    height: 250px;
}

.item {
    border: solid #FCBCB8 2px;
    justify-content: center;
    text-align: center;
    width: 330px;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 10px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    border-radius: 8px;
}

#item-page {
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 40px;
}

#item-page img {
    width: 400px;
    height: 500px;
}

.box-two {
    float: left;
    width: 50%;
    height: 500px;
}

.box-three {
    float: left;
    width: 50%;
    height: 200px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    text-align: center;
}

#account-page {
    padding-left: 250px;
    padding-right: 250px;
}

#profile img {
    padding-top: 50px;
    width: 200px;
}